@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat&display=swap');

$primary-color: #A6CFD5;
$secondary-color: #0A2463;
$contrast-color: #FE5F55;
$primary-black: #0D0221;
$primary-white: #FFFFFC;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Fira Mono', monospace;


// CSS Variables for JS manipulation
:root {
    --box-size: 15px;
    --box-position: 70%;
    --animation-duration: 20s;
    --animation-delay: 2s;
    --skill-width: 0%; 
}


// Common Styling

body {
    text-align: center;
    margin: 0;
    font-family: $primary-font;
    background-color: $primary-white;
    overflow-x: hidden;
    p {
        font-family: $secondary-font;
        max-width: 80%;
        font-size: 15px;
    }
    a {
        font-family: $secondary-font;
        text-decoration: unset;
        font-size: 20px;
        color: $primary-white;
        &:visited {
            color: $primary-white;
        }
        &:active {
            color: $contrast-color;
        }
    }
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh 0 1vh;
        background: linear-gradient(to left, $secondary-color, $primary-black);
        background-size: 100px 2px;
        background-position-y: bottom;
        background-position-x: center;
        background-repeat: no-repeat;
        margin-bottom: 3vh;
        h2 {
            position: relative;
            margin-bottom: 0;
        }
    }
}

.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: $primary-white;
    background: linear-gradient(to left, $secondary-color, $primary-black);
    font-size: smaller;
    h1 {
        margin: 1vh 0;
        em {
            font-style: unset;
            color: #FE5F55;
        }
    }
    h2 {
        margin: 0;
    }
}

#animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    li {
        position: absolute;
        left: var(--box-position);
        display: block;
        list-style: none;
        width: var(--box-size);
        height: var(--box-size);
        background: rgba($color: $primary-color, $alpha: 0.1);
        animation: animate var(--animation-duration) linear 1;
        bottom: -150px;
    }
}

@keyframes animate{
    0% {
        transform: scale(0.2) translateY(0) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(-140vh) rotate(360deg);
        opacity: 1;
    }
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-size: 40px;
    background-color: $primary-black;
    z-index: 2;
    overflow-x: hidden;
    .dropdown-container {
        display: flex;
        position: relative;
        left: 75%;
        align-items: center;
        padding: 1vh 0;
        transition: left 2s;

        .dropdown-content {
            display: none;
            opacity: 0;
            transition: opacity 2s;
            a {
                &:hover {
                    color: $contrast-color;
                }
            }
        }
    
        .dropdown-button {
            display: block;
            margin-right: 20px;
            transition: all 2s;
            transform: rotate(0deg);
            color: $primary-white;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .clicked {
        left: 5%;
        transition: left 2s;
        .dropdown-button {
            transform: rotate(180deg);
            color: $contrast-color;
            transition: all 2s;
        }
        .dropdown-content {
            display: block;
            opacity: 1;
            color: $primary-white;
            transition: all 2s;
            &:hover {
                color: $contrast-color;
            }
        }
    }
}

.contrast-bar {
    margin: 0;
    height: 10px;
    background-color: $primary-color;
    width: 100%;
}


// Style the about section
.about-section{
    color: $primary-black;
}


.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
    p {
        width: 60%;
    }
}


.avatar-container {
    background-image: url("/resources/images/myAvatar.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width: 25vh;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
}

#grid-one {
    grid-area: one;
}

#grid-two {
    grid-area: two;

}

#grid-three {
    grid-area: three;
}

#grid-four {
    grid-area: four;
}

.attributes-container {
    display: grid;
    margin-bottom: 5vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "one two"
    "three four"
    ;
    div {
        i {
            background-color: $primary-color;
            background-position: bottom;
            color: $primary-white;
            font-size: 40px;
            border-radius: 50%;
            width: 80px;
            padding: 20px 0;
        }
        h4 {
            margin-bottom: 0;
        }
        p {
            font-size: 12px;
            max-width: 80%;
            margin: 1vh auto 2vh;
        }
    }
}

.skills-graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-graph-bar {
    display: flex;
    background-color: rgb(236, 236, 236);
    width: 90%;
    justify-content: space-between;
    height: min-content;
    border: 10px solid $primary-white;
}

.skills-graph-label {
    white-space: nowrap;
    text-align: left;
    width: 30%;
    color: $primary-white;
    background-color: $primary-color;
    padding: 5px 0 5px 10px;
    h4 {
        margin: 0 auto;
    }
}

.skills-graph-indicator {
    div {
        width: var(--skill-width);
        background-color: $contrast-color;
        height: 100%;
        transition: width 2s;
    }
    margin-right: auto;
    flex-grow: 1;
}

.skills-graph-number {
    display: flex;
    align-items: center;
    p {
        margin: 0;
        color: $primary-white;
    }
}


// Project Section

.project-section {
    margin-bottom: 10vh;
    .project-images {
        display: flex;
        flex-direction: column;
        height: 100%;
        div {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .project-description-container {
        padding-bottom: 1vh;
        z-index: 3;
        button {
            display: none;
            color: $primary-white;
            margin: auto;
            padding: 5px;
            background-color: $primary-color;
            &:hover {
                cursor: pointer;
            }
        }
        .revealed {
            display: block;
        }
    }
    .project-description {
        display: none;
        top: 0;
        color: $primary-black;
        font-size: 10px;
        margin: 0 auto;
        a {
            color: $secondary-color;
            font-size: 10px;
            text-decoration: underline;
            &:visited {
                color: $secondary-color;
            }
        }
    }
    #git-profile-referral {
        padding-top: 2vh;
        margin: auto;
        font-size: 12px;
        color: $primary-black;
    }
}

// Contact section styling

.contact-section {
    padding-bottom: 10vh;
    background-color: $secondary-color;
    color: $primary-white;
    p {
        margin: 0 auto 2vh;
        a {
            color: $contrast-color;
            text-decoration: underline;
        }
    }
    .angle-container {
        height: 10vh;
        div {
            width: 100%;
            height: 100%;
            background-color: $primary-white;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            margin-top: -1vh;
        }
        #to-top-button {
            background-color: $secondary-color;
            transform: translateY(-50%);
            &:hover {
                border-color: $contrast-color;
                a {
                    color: $contrast-color;
                }
            }
            a {
                i {
                    font-size: 30px;
                }
            }
        }
    }
}

// style the contact bar
.icon-bar {
    // Style the social icons
    display: flex;
    justify-content: space-evenly;
    a {
        display: block;
        text-align: center;
        padding: 2vh;
        transition: all 0.3s ease;
        color: $primary-white;
        font-size: 3vh;
        &:hover {
            background-color: $primary-white;
        }
    }
}
  
// Style the social media icons individually
  
.facebook {
    background: #3B5998;
    color: white;
    &:hover {
        color: #3B5998;
    }
}
  
.twitter {
    background: #55ACEE;
    color: white;
    &:hover {
        color: #55ACEE;
    }
}
  
.gmail {
    background: #dd4b39;
    color: white;
    &:hover {
        color: #dd4b39;
    }
}
  
.linkedin {
    background: #007bb5;
    color: white;
    &:hover {
        color: #007bb5;
    }
}

.github {
    background: #000;
    color: white;
    &:hover {
        color: #000;
    }
}


footer {
    display: flex;
    justify-content: center;
    background-color: $primary-black;
    color: $primary-white;
}

@media only screen and (min-width: 768px){
    body {
        p {
            font-size: larger;
        }
        .header-container {
            font-size: larger;
        }
        .landing-container {
            font-size: larger;
        }

    }
    nav {
        .dropdown-content {
            a {
                padding: 0 5vw;
            }
        }
    }
    .skills-attributes-container {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5vh;
        .attributes-container {
            width: 50%;
        }
        .skills-graph-container {
            width: 50%
        }
    }
    .attributes-container {
        div {
            i {
                font-size: 45px;
            }
            h4 {
                font-size: larger;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .project-section {
        .project-description-container {
            p {
                font-size: larger;
                a {
                    font-size: larger;
                }
            }
        }
        .project-images {
            flex-direction: row;
            div {
                width: 50%;
            }
        }
        #git-profile-referral {
            font-size: larger;
        }
    }
}